<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<%- include('components/navbar')%>
<h1>Hello <%= kelas.nama %> !</h1>
<footer>
	<p>&copy; 2021 kelas. Teknik Informatika</p>
</footer>
</body>
</html>